@media (max-width: 1200px) {

    #hero-section-main {
        flex-direction: column;
        text-align: center;
        margin-top: 0;
    }

    .hero-section-img img {
        width: 90%;
        margin-top: 40px;
    }

    .how-it-work-card-main {
        flex-wrap: wrap;
        gap: 20px;
    }

    .why-choose {
        flex-direction: column;
        text-align: center;
    }

    .why-choose .left {
        width: 100%;
        right: 0;
    }

    .why-choose .right {
        width: 100%;
        margin-top: 30px;
    }

    .cars-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonial-card {
        flex-direction: column;
        left: 0;
    }

    .download-section {
        flex-direction: column;
        text-align: center;
    }

    .download-section img {
        width: 70%;
    }
}

/* -- Tablets (max-width: 992px) --*/

@media (max-width: 992px) {

    #navbar {
        flex-wrap: wrap;
        gap: 20px;
    }

    .nav-links {
        gap: 15px;
        font-size: 14px;
    }

    .hero-section-title h1 {
        font-size: 2.8em;
    }

    .download-section-title h1 {
        font-size: 3em !important;
    }

    .cars-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonial-card {
        max-width: 90%;
    }
}

/* -- Mobile (max-width: 768px) -- */
@media (max-width: 768px) {

    #navbar {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    #hero-section-main {
        padding: 20px;
    }

    .hero-section-title {
        margin-left: 0;
    }

    .hero-section-title h1 {
        font-size: 2.4em;
    }

    .hero-section-img img {
        width: 100%;
    }

    .how-it-work-card-main {
        flex-direction: column;
    }

    .why-choose {
        padding: 40px 5%;
    }

    .cars-container {
        grid-template-columns: 1fr;
    }

    .testimonial-card {
        width: 100%;
        border-radius: 10px;
    }

    .download-section-title h1 {
        font-size: 2.2em !important;
    }

    .download-section img {
        width: 90%;
    }


    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}

/* -- Small Mobile (max-width: 480px) -- */
@media (max-width: 480px) {

    .hero-section-title h1 {
        font-size: 2em;
    }

    .download-section-title h1 {
        font-size: 2em !important;
    }

    .nav-btn a button {
        padding: 8px 10px;
    }

    .car-card {
        padding: 15px;
    }

    .price-box h2 {
        font-size: 20px;
    }

    .rent-btn {
        padding: 10px;
        font-size: 14px;
    }

    .testimonial-card {
        padding: 10px;
    }

    footer {
        padding: 40px 5%;
    }
}

@media screen and (max-width: 1532px) {
    .ham {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .nav-btn {
        display: none;
    }
}


/* hero-section-main  */

@media screen and (max-width: 1268px) {

    #hero-section-main {
        flex-direction: column;
    }

    .hero-section-title {
        margin-top: 200px;
    }

    .hero-section-img {
        margin-bottom: 50px;
    }

    .hero-section-img {
        margin-top: -150px;
    }
}

@media screen and (max-width: 980px) {
    .hero-section-img>img {
        width: 40em;
    }
}

@media screen and (max-width: 976px) {
    #hero-section-main {
        margin-top: -100px;
    }
}

@media screen and (max-width: 628px) {
    .hero-section-img>img {
        width: 30em;
    }
}

@media screen and (max-width: 472px) {
    .hero-section-img>img {
        width: 25em;
    }
}

@media screen and (max-width: 396px) {
    .hero-section-img>img {
        width: 24em;
    }
}

@media screen and (max-width: 1160px) {
    #hero-section-main {
        margin-top: -100px;
    }
}

@media screen and (max-width: 1194px) {
    .hero-section-title {
        margin-bottom: 150px;
    }
}

/* search-container */

@media screen and (max-width: 927px) {
    .search-container {
        flex-direction: column;

    }
}

@media screen and (max-width: 856px) {
    .search-container {
        margin-left: -20px;

    }
}

@media screen and (max-width: 803px) {
    .search-container {
        margin-left: -40px;

    }
}

@media screen and (max-width: 729px) {
    .search-container {
        margin-left: -80px;

    }
}

@media screen and (max-width: 666px) {
    .search-container {
        margin-left: -110px;

    }
}

@media screen and (max-width: 613px) {
    .search-container {
        margin-left: -140px;

    }
}

@media screen and (max-width: 564px) {
    .search-container {
        margin-left: -160px;

    }
}

@media screen and (max-width: 508px) {
    .search-container {
        margin-left: -200px;

    }
}

@media screen and (max-width: 508px) {
    .search-container {
        margin-left: -230px;

    }
}

@media screen and (max-width: 406px) {
    .search-container {
        margin-left: -260px;

    }
}

@media screen and (max-width: 360px) {
    .search-container {
        margin-left: -290px;

    }
}

@media screen and (max-width: 314px) {
    .search-container {
        margin-left: -310px;

    }
}

/* how-it-work section*/

@media screen and (max-width: 1080px) {

    .how-it-work-logo {
        /* flex-wrap: wrap; */
    }

    .how-it-work-logo-img {
        /* flex-wrap: wrap; */
    }
}

@media screen and (max-width: 383px) {
    .how-it-work-title>h2 {
        font-size: 1.3em;
    }

    .card1>img {
        width: 90px;
    }

    .card2>img {
        width: 90px;
    }

    .card3>img {
        width: 90px;
    }

    
}

/* WHY CHOOSE US section */

@media screen and (max-width: 383px) {
    .title5 {
        font-size: 2.3em;
    }

    .features {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }
}



@media screen and (max-width: 1196px) { 
    .features {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }
}

@media screen and (max-width: 1232px) {
    .title5 {
        font-size: 2.7em;
    }
}

/* testimonial-card */

@media (max-width: 824px) {
    #testimonial-card {
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin: 0% auto;
    }
}

@media (max-width: 1177px) {
    .download-section-title>p{
        font-size: 2em;
        padding: 20px;
        line-height: 35px;
    }

    .download-section-img>img{
        width: 20em;
    }
} 




@media (max-width: 760px) {
    #testimonial-card {
        margin-left: -10px;
    }
}

@media (max-width: 708px) {
    #testimonial-card {
        margin-left: -40px;
    }
}

@media (max-width: 644px) {
    #testimonial-card {
        margin-left: -70px;
    }
}

@media (max-width: 584px) {
    #testimonial-card {
        margin-left: -100px;
    }
}

@media (max-width: 544px) {
    #testimonial-card {
        margin-left: -120px;
    }
}

@media (max-width: 512px) {
    #testimonial-card {
        margin-left: -130px;
    }
}

@media (max-width: 484px) {
    #testimonial-card {
        margin-left: -150px;
    }
}

@media (max-width: 468px) {
    #testimonial-card {
        margin-left: -160px;
    }
}

@media (max-width: 436px) {
    #testimonial-card {
        margin-left: -180px;
    }
}


@media (max-width: 396px) {
    #testimonial-card {
        margin-left: -202px;
        overflow: auto;

    }
}

@media (max-width: 336px) {
    .testimonial-card-img {
        /* width: 300px; */
        /* height: 800px; */
    }
}
@media (max-width: 1437px) {
    .wrapper{
        position: relative;
    }
  
}