@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Stack+Sans+Text:wght@700&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #1572D3;
    --primary-button-color: #1572D3;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0%;
    margin: 0%;
    background-position: right -1px;
    background-image: url(images/Frame.png);
    height: 900px;
    background-repeat: no-repeat;

}

#navbar {

    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;

}

.ham {
    display: none;
}

.nav-links {
    font-family: "popins";
    z-index: 999;
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links>li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: all ease-in-out 0.6s;
}

.nav-links>li a:hover {
    color: #1572D3;
}


.nav-btn {
    z-index: 999;
}


.nav-btn1 {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    transition: all ease-in-out 0.6s;

}

.nav-btn2 {
    background-color: #1572D3;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    transition: all ease-in-out 0.6s;


}

.nav-btn1:hover {
    background-color: #ffffff;
}

.nav-btn2:hover {
    background-color: #1b436d;
}



/* hero section  */


#hero-section-main {
    margin-top: -100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

span {

    color: var(--primary-text-color);
}

.title5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
}

.features {
    margin-top: 40px;

}

.title10 {
    font-size: 3.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.hero-section-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
}

.hero-section-title>img {
    margin-top: 20px;
    width: 170px;
}



.hero-section-title>h1 {
    font-size: 4em;
}

.hero-section-title>a img{
    transition: all ease-in-out 0.3s;
}

.hero-section-title>a img:hover{

    transform: translateY(-3px);
}


.hero-section-title>p {
    font-size: 1.2em;
    font-family: sans-serif;
    padding: 7px;
    line-height: 25px;
}


.hero-section-img>img {
    margin-top: 100px;
    margin-top: 200px;
    width: 45em;

}

/* search container */

.search-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    width: 950px;
}

.field {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.icon {
    font-size: 18px;
    color: #7d7d7d;
}


.divider {
    width: 1px;
    height: 38px;
    background: #e0e0e0;
}

.search-btn {
    background: #007bff;
    border: none;
    color: #fff;
    padding: 12px 28px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.search-btn:hover {
    background: #0066d1;
}

/* hero-features */


.hero-features {
    background-color: rgb(188, 255, 255);
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-features-1 {
    /* display: flex; */
}


/* HOW IT WORK section */

#how-it-work {
    margin-top: 200px;
    display: flex;

}


.how-it-work-btn {
    margin: 0 auto;
}

.how-it-work-btn>button {
    background-color: #1572D31A;
    border: none;
    padding: 15px 15px;
    border-radius: 5px;
    transition: all ease-in-out 0.5s;
}

.how-it-work-btn>button:hover {
    background-color: #0953a375;
}

.how-it-work-title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 2em;
}


.card1:hover {
    transform: translateY(-15px);
    transition: all ease-in-out 0.6s;

}

.card2:hover {
    transform: translateY(-15px);
    transition: all ease-in-out 0.6s;
    


}

.card3:hover {
    transform: translateY(-15px);
    transition: all ease-in-out 0.6s;


}



/* how-it-work-card-main */


.how-it-work-card-main {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.how-it-work-card-main>h3{
    font-family: sans-serif;
} 

..how-it-work-card-main:hover {}

/* how-it-work-logo */

.how-it-work-logo {
    transition: all ease-in-out 0.6s;
}

.how-it-work-logo:hover {
    transform: translateY(-5px);
}

.how-it-work-logo-img {
    gap: 40px;
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* WHY CHOOSE US section  */

.why-choose {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    position: relative;
}




.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.feature-box {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left {
    position: relative;
    right: 200px;
    width: 80%;
}

.car-img {
    width: 100%;
    z-index: 2;
    position: relative;
}

.bg-shape {
    position: absolute;
    top: 50px;
    left: -40px;
    width: 450px;
    height: 450px;
    background: #eaf2ff;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    z-index: 0;
}

.right {
    width: 45%;
}

.WHY-CHOOSE-US-btn {
    background: #f0f5ff;
    color: #5c7ee7;
    border: none;
    padding: 15px 15px;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 1px;
    transition: all ease-in-out 0.5s;
}

.WHY-CHOOSE-US-btn:hover {
    background-color: #0953a375;
}

.title {
    font-size: 32px;
    font-weight: 600;
    margin: 20px 0 30px;
    color: #333;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.feature-box {
    display: flex;
    gap: 18px;
    align-items: flex-start;
}

.feature-box>h3{
    font-family: sans-serif,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon {
    width: 45px;
    height: 45px;
    background: #eaf2ff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

h3 {
    margin-bottom: 5px;
    color: #111;
}

p {
    color: #666;
    font-size: 14px;
    line-height: 22px;
}

/* popular-section  */

/* SECTION */
.popular-section {
    text-align: center;
    padding: 60px 8%;
}

/* SMALL TAG */
.tag {
    background: #e8f1ff;
    color: #000000;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 20px;
    transition: all ease-in-out 0.5s;
}

.tag:hover {
    background-color: #0953a375;
}

/* TITLE */
.title {
    font-size: 3.5em;
    font-family: sans-serif;
    color: #333;
    margin-bottom: 40px;
}

/* CARDS GRID */
.cars-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

/* CARD */
.car-card {
    background: #fff;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.car-card:hover {
    transform: translateY(-5px);
}

.car-card>h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.car-img {
    width: 100%;
    margin-bottom: 15px;
}

/* DETAILS */
.rating {
    margin: 10px 0;
    color: #333;
}

.rating span {
    color: #666;
    font-size: 14px;
}

.details {
    text-align: left;
    margin: 15px 0;
    font-size: 14px;
    color: #555;
    line-height: 24px;
}

.badge {
    background: #e8d7ff;
    color: #6236ff;
    padding: 3px 10px;
    border-radius: 8px;
    font-size: 11px;
    display: inline-block;
}

/* PRICE */
.price-box {
    text-align: left;
    margin-top: 10px;
}

.price-box h2 {
    font-size: 24px;
    margin-top: 5px;
}

.price-box span {
    color: gray;
    font-size: 14px;
}

/* BUTTON */
.rent-btn {
    background: #007bff;
    color: #fff;
    width: 100%;
    padding: 12px 0;
    font-size: 15px;
    border: none;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.rent-btn:hover {
    background: #005ed1;
}

/* SHOW ALL BUTTON */
.show-btn-container {
    margin-top: 35px;
}

.show-btn {
    background: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 15px;
    transition: all ease-in-out 0.5s;
}

.show-btn:hover {
    background: #0953a375;
    ow
}


/* testimonial-section */
#testimonial-card {
    margin: 0 auto;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all ease-in-out 0.5s;
}

#testimonial-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.12);
}


.testimonial-card-title {
    font-size: 2.4em;
}

.testimonial-card1 {
    width: 240px;
}

/* download-section */

.download-section {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.download-section-btn>button {
    background-color: #1572D31A;
    border: none;
    padding: 15px 15px;
    border-radius: 5px;
    transition: all ease-in-out 0.5s;
}

.download-section-btn>button:hover {
    background-color: #0953a375;
}

.download-section-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.download-section-title>p {
    color: gray;
    margin-bottom: 18px;
    margin-top: 10px;
    font-family: 'Roboto',sans-serif;
    font-size: 2em;
}

.download-section-title>h1 {
    font-size: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* Footer */
.footer {
    background: #00172F;
    color: #cbd5e1;
    padding: 60px 8%;
}

.logo>p img {
    background-color: #005ed1;
    width: 10px;
}

.logop {
    align-items: center;
    margin: 0 auto;
    background-color: #005ed1;
}

.rafay {
    background-color: #005ed1;
}

.logo .rafay {
    background-color: #0066d1;
}

.footer-section.logo .rafay {
    background-color: #005ed1;
}

.logo {
    width: 6px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 40px;
}

.footer-section h2,
.footer-section h3 {
    margin-bottom: 15px;
    color: #fff;
}

.footer-section a,
.footer-section p {
    display: block;
    margin: 6px 0;
    font-size: 14px;
    color: #cbd5e1;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section a:hover {
    color: #38bdf8;
}

/* Logo */
.logo {
    font-size: 20px;
    font-weight: 600;
}

/* Icons spacing */
.footer-section i {
    margin-right: 8px;
}

/* Social Icons */
.social-icons a {
    margin-right: 12px;
    font-size: 20px;
    color: #cbd5e1;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #38bdf8;
}

/* Divider */
footer hr {
    margin: 40px 0 20px;
    border-color: #2c3e50;
}

/* Copyright */
footer .copyright {
    text-align: center;
    font-size: 14px;
    color: #94a3b8;
}

#main {
    overflow: hidden;
}

.download-section-img>a img{
    transition: all ease-in-out 0.4s;
}

.download-section-img>a img:hover{

    transform: translateY(-5px);
}

